<main class="main-container">
  <div class="chat-container">
    
    <div class="contact-list">
      <h3>Propietarios</h3>
      <div *ngFor="let contact of contacts" class="contact-item" (click)="selectContact(contact)">
        <img [src]="contact.avatar" alt="avatar" class="contact-avatar">
        <div class="contact-info">
          <strong>{{ contact.name }}</strong>
        </div>
      </div>
    </div>

    
    <div class="chat-area">
      <div *ngIf="selectedContact" class="chat-header">
        <h3>Chat con {{ selectedContact.name }}</h3>
      </div>
      <div class="regresar">
        <p><a routerLink="/home">Regresar</a></p>
      </div>
      <button (click)="onSubdmit()">Refrescar</button>
    
      <div *ngIf="messages.length > 0" class="message-history">
        <div class="message-body" *ngFor="let message of messages"  [ngClass]="{ 'message-sent': message.senderUserUserId === senderUser, 'message-received': message.senderUserUserId !== senderUser }">
          <div class="message-item" *ngIf="message.receiverUserUserId == selectedContact.id"  >
            <p>{{ message.message }}</p>
            <small>{{  message.senderUserUserId == this.actualuser!.user_id? "yo":"el otro" }}</small>
          </div>
          <div class="message-footer">
            <small>{{ message.created_at | date: 'short' }}</small>
          </div>
        </div>
      </div>

    
      <div *ngIf="messages.length === 0" class="no-messages">
        <p>No tienes mensajes con este propietario.</p>
      </div>

      
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <textarea
            id="message"
            formControlName="message"
            class="form-control"
            rows="4"
            placeholder="Escribe tu mensaje aquí..."
            *ngIf="selectedContact"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!messageForm.valid || !selectedContact">
          Enviar mensaje
        </button>
      </form>
    </div>

    <br/>
  </div>

</main>
